<h2><%= link_to booking.gadget.name, gadget_path(booking.gadget) %></h2>
<p><strong>Booked Dates</strong>:<br>
<%= booking.start_on %> to <%= booking.end_on %></p>
<p>
  <%= link_to "Accept", approve_user_booking_path(booking), method: :patch %>
  <%= link_to "Reject", reject_user_booking_path(booking), method: :patch %>
</p>
