<div class="container">
  <div>
    <% if current_user.customer_bookings.exists? %>
      <h2>Reservation Summary</h2>
      <p>Here are the items you have booked...</p>
      <br>
      <ul class="list-group">
        <% current_user.customer_bookings.each do |booking| %>
          <li class="list-group-item"><strong><%= link_to booking.gadget.name, gadget_path(booking.gadget) %></strong>
          <li class="list-group-item"><strong>Booked Dates</strong> <%= booking.start_on %> to <%= booking.end_on %></li>
          <hr>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div>
    <% if current_user.owner_bookings.exists? %>
    <h2>Booking requests coming up</h2>
    <p>Pending requests:</p>
    <hr>
    <ul class="list-group">
      <% current_user.owner_bookings.pending.each do |booking| %>
        <%= render "pending_card", booking: booking %>
      <% end %>
    </ul>
    <br>
    <p>Confirmed items:</p>
    <hr>
    <ul class="list-group">
      <% current_user.owner_bookings.approved.each do |booking| %>
        <li class="list-group-item">
          <strong><%= link_to booking.gadget.name, gadget_path(booking.gadget) %></strong>
          <br>
          <strong>Booked Dates</strong> <%= booking.start_on %> to <%= booking.end_on %>
      <% end %>
    </ul>
    <% end  %>
  </div>
  <br>
  <p><%= link_to "Back to List", gadgets_path, class: "btn btn-outline-primary" %></p>
</div>
