<div class="container d-flex justify-content-center">
  <div class="mx-3">
    <% if current_user.owner_bookings.exists? %>
      <h1 class="h5"><strong>Your Rentals</strong></h1>
      <%= render "pending_card"%>
      <%= render "user/bookings/owner/current" %>
      <%= render "user/bookings/owner/past" %>
    <% end %>
  </div>
    <div class="mx-3">
      <% if current_user.customer_bookings.exists? %>
        <p class="h5"><strong>Your Reservations</strong></p>
        <%= render "user/bookings/customer/current" %>
        <%= render "user/bookings/customer/past" %>
      <% end %>
    </div>
</div>

<div class="container">
  <p class="d-flex justify-content-left"><%= link_to "Back to List", gadgets_path, class: "btn btn-outline-primary" %></p>
</div>
