
<div class="container">
<h1>List your gadget!</h1>
  <%= simple_form_for [@gadget] do |f| %>
  <%= f.input :name, label: "Gadget's name:" %>
  <%= f.input :description, label: "Add a brief decription of the gadget:" %>

  <%= f.simple_fields_for :owner_attributes do |fu| %>
    <%= fu.input :address, label: "Register its location:", input_html: {value: current_user.address} %>
  <% end %>
  <br>
  <%= f.input :photo, as: :file %>
  <br>
  <%= f.submit "Submit listing", class: "btn btn-primary" %>
  <% end %>
</div>
